body{
    display:flex;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #919ded;
}
header {
    padding:10px;
    background-color: #eee;
    display: flex;
    justify-content: space-between
}
.content {
    padding: 20px;
}
footer {
    margin-top: auto;
    background-color: #eee;
    text-align: center;
    padding: 10px;
}
.rick-astley {
    color: #ff4500;
    text-decoration: none;
    transition: color 0.3s;
}
.rick-astley:hover {
    text-decoration: underline;
    color: #ff6347
}
.troll{
    text-decoration: underline;
    color: blue;
}
.troll:hover {
    color: #0000ff;
}
.hello-world{
    font-size: 50px;
    font-family: 'arial black', sans-serif;
}
.about-me{
    font-size: 50px;
    font-family: 'arial black', sans-serif;
}
ul{
    font-size: 20px;
}
ol{
    font-size: 20px;
}
.list-title{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

nav{
    margin-left: 15px;
    font-size: 10px;
}
.works-fine{
    font-size: 17px;
}

.introduction{
    font-size: 20px;
    margin-bottom: 20px;
}